<div>
    <h2 id="page-heading">
        <span jhiTranslate="nutriappApp.sugTipoUnidadMedida.home.title">Sug Tipo Unidad Medidas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sug-tipo-unidad-medida" [routerLink]="['/sug-tipo-unidad-medida/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="nutriappApp.sugTipoUnidadMedida.home.createLabel">
            Create new Sug Tipo Unidad Medida
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="sugTipoUnidadMedidas?.length === 0">
        <span jhiTranslate="nutriappApp.sugTipoUnidadMedida.home.notFound">No sugTipoUnidadMedidas found</span>
    </div>
    <div class="table-responsive" *ngIf="sugTipoUnidadMedidas?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="nutriappApp.sugTipoUnidadMedida.nombre">Nombre</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sugTipoUnidadMedida of sugTipoUnidadMedidas ;trackBy: trackId">
                <td><a [routerLink]="['/sug-tipo-unidad-medida', sugTipoUnidadMedida.id, 'view' ]">{{sugTipoUnidadMedida.id}}</a></td>
                <td>{{sugTipoUnidadMedida.nombre}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sug-tipo-unidad-medida', sugTipoUnidadMedida.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sug-tipo-unidad-medida', sugTipoUnidadMedida.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sug-tipo-unidad-medida', { outlets: { popup: sugTipoUnidadMedida.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
