<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sugMarca">
            <h2><span jhiTranslate="nutriappApp.sugMarca.detail.title">Sug Marca</span> {{sugMarca.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nutriappApp.sugMarca.nombreMarca">Nombre Marca</span></dt>
                <dd>
                    <span>{{sugMarca.nombreMarca}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sug-marca', sugMarca.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
